<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBugC40ZPZzrFh-M2EoJgweUKKvfEdny4o</string>
	<key>GCM_SENDER_ID</key>
	<string>496201691827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehicleProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vehicle1-8cb44</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle1-8cb44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496201691827:ios:8a373175552b0aa9c7b6c6</string>
</dict>
</plist>